<!--css of full div-->
#main{
background:white;
border:5px solid #FFBF00;
border-radius:7px;
width:100%;
margin:2%,5%,0%,2%;

border-style:solid;
border-image:linear-gradient(#FFFF00,#FFBF00) 30/5px;

}
<!--css of header-->
#header{
background:linear-gradient(to right,#FFFF00,#FFBF00);
padding:10px;
margin-left:auto;
margin-right:auto;
text-align:center;
height:120px;

}
.img-1{
	float:left;
	width:100px;
}
#raja{
		display:inline-block;
		margin:0 auto;
		width:100px;
}
.kaka-1{
	float:right;
	width:100px;
}
<!--css of footer-->
#footer{
	background-color:#32A700;
       color:white;
   text-align:center;
border-radius:30px;
}
<!--css of menu-->
#menu{
background-color:#32A700;
color:white;
display:flex;
}

.menu{
	border-radius:20px;
	border-right:2px solid white;
	box-shadow: 2px 2px 2px #D7D8C2;
margin-left:auto;
margin-right:auto;
padding:10px;
flex:1;
}
.a1{
	
	text-decoration:none;
	color:white;
	font-size:35px;
	margin-top:10px;
	margin-left:auto;
    margin-right:auto;
    padding:10px;
	
}
<!--css of video gif-->
#video{

}
<!--css of main content-->
#content{

}
.img-2{
float:left;
border:15px solid transparent;
border-image-source:url("E:\Raja Meldi\images\border.jpg");
border-image-repeat:round;
border-image-slice:10;
margin:10px 10px 10px 10px;
}
.welcome{
	margin:10px 10px 10px 20px;
	padding-left:10px;
	font-family:arial;
	color:#FF6400;
	font-size:30px;
}
<!--css of find out more ,contact,location-->
#link{
display:flex;
width:100%;
}
.link{
margin-left:auto;
margin:right:auto;
padding:10px;
flex:1;
}



#copyright{
background-color:white;
text-align:center;
}
#find-out-more{
text-align:center;
background-color:#D8C521;
}
#contact-us{
text-align:center;
background-color:#78FF3E;


}
#location{
	text-align:center;
background-color:#D8C521;

}

<!--css of history about us page-->
#history{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:"arial","times-new-roman";
	line-height:1.5em;
    }
<!--css of founder about us page-->
#founder{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:"arial","times-new-roman";
    line-height:1.5em;
	}
<!--css of worshipping about us page-->
#worshipping{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:"arial","times-new-roman";
    line-height:1.5em;
	}
<!--css of activities about us page-->
#activities{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:"arial","times-new-roman";
    line-height:1.5em;
	}
<!--css of donation of donation page-->
#donation{
margin:10px 10px 0px 10px;
padding:10px 10px 0px 10px;
font-size:20px;
line-height:1.5em;
}
<!--css of contact us of contact page-->
#contact{
font-size:25px;
margin:10px 10px 0px 10px;
padding:10px 10px 0px 10px;
line-height:1.5em;
}
